<div id="tv_shows_form">
  <%= form_with(model: tv_show, local: true) do |form| %>
    <% if tv_show.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(tv_show.errors.count, "error") %> prohibited this tv_show from being saved:</h2>

        <ul>
          <% tv_show.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
      <label for="tv_show_category">Categoría</label>
      <input type="text" value="<%=tv_show.category %>" name="tv_show[category]" id="tv_show_category" class="autocomplete">
      <div class="options"></div>
    </div>

    <div class="field">
      <label for="tv_show_title">Título</label>
      <input type="text" value="<%=tv_show.title %>" name="tv_show[title]" id="tv_show_title">
    </div>

    <div class="field">
      <label for="tv_show_description">Descripción</label>
      <textarea name="tv_show[description]" id="tv_show_description" class="tv-show-edit_description"><%=tv_show.description %></textarea>
    </div>

    <div class="field">
      <label for="tv_show_image_url">URL de imagen</label>
      <input type="text" value="<%=tv_show.image_url %>" name="tv_show[image_url]" id="tv_show_image_url">
    </div>

    <div class="field">
      <label for="tv_show_ranking">Ranking</label>
      <input type="text" value="<%=tv_show.ranking %>" name="tv_show[ranking]" id="tv_show_ranking" class="tv-show-edit_ranking">
    </div>


    <div class="actions">
      <button type="submit" class="btn">Actualizar</button>
      <%= link_to 'Volver', tv_shows_path, class: 'btn' %>
    </div>

  <% end %>
</div>
