<%= form_with(model: tv_show, local: true) do |form| %>
  <% if tv_show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tv_show.errors.count, "error") %> prohibited this tv_show from being saved:</h2>

      <ul>
        <% tv_show.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <label for="tv_show_category">Category</label>
    <input type="text" value="anime" name="tv_show[category]" id="tv_show_category">
  </div>

  <div class="field">
    <label for="tv_show_description">Description</label>
    <textarea name="tv_show[description]" id="tv_show_description"><%=tv_show.description %></textarea>
  </div>

  <div class="field">
    <label for="tv_show_image_url">Image url</label>
    <input type="text" value="<%=tv_show.image_url %>" name="tv_show[image_url]" id="tv_show_image_url">
  </div>

  <div class="field">
    <label for="tv_show_ranking">Ranking</label>
    <input type="text" value="<%=tv_show.ranking %>" name="tv_show[ranking]" id="tv_show_ranking">
  </div>

  <div class="field">
    <label for="tv_show_title">Title</label>
    <input type="text" value="<%=tv_show.title %>" name="tv_show[title]" id="tv_show_title">
  </div>

  <div class="actions">
    <button type="submit">Update Tv show</button>
  </div>

<% end %>


<%= link_to 'Show', @tv_show %> |
<%= link_to 'Back', tv_shows_path %>