<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bseries</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main-header">
      <a href="/" class="main-logo"></a>
      <a href="#" class="main-menu-ham"></a>
      <nav class="main-menu">
        <%= link_to 'Categorías', categories_path, class: 'main-menu-item' %>
        <a href="#" class="main-menu-item">Top 100</a>
        <a href="#" class="main-menu-item">Ingresar</a>
      </nav>
    </header>
    <div class="container">
      <p class="notice" id="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
    <footer class="main-footer">
      <p class="main-footer-p">BSeries 2018 &copy; No hay derechos reservados</p>
    </footer>
  </body>
</html>
